*{
    font-family: Montserrat;
    padding: 3px;
}

header{
    padding-top:1px;
    background-color: black;
    width: ;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin:200px;
}
li a{
    color: whitesmoke;
    text-decoration: none;
}
li a:hover{
    color:red;
}
footer{
    background-color: black;
    color:whitesmoke;
    padding: 3px;
    text-align: center;
    width:100% ;
}
footer:hover{
    opacity:0.8;
}
